.about {
  width: 100vw;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  font-family: var(--font-basic);
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
}
.about.default .left,
.about.default .right {
  flex: 0 0 30%;
}

.about.default .center {
  flex: 0 0 40%;
}
.about .left,
.about .right {
  flex: 0 0 30%;
  position: relative;
  overflow: hidden;
}
.about .left,
.about .right,
.about .center {
  transition: flex 0.5s ease;
}
.about .center {
  flex: 0 0 40%;
  position: relative;
  overflow: hidden;
}
.about .left.expanded,
.about .center.expanded {
  flex: 0 0 100%;
}
.about:not(.default) .left:not(.expanded),
.about:not(.default) .center:not(.expanded),
.about:not(.default) .right:not(.expanded) {
  flex: 0 0 0%;
}
.about .close {
  position: absolute;
  left: 50%;
  bottom: 57px;
  transform: translateX(-50%);
  padding: 0;
  z-index: 2;
}
.about .close .cross-icon {
  width: 100%;
  height: 100%;
}
.about .bg {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.5s ease;
}
.about .left:hover .bg,
.about .center:hover .bg {
  transform: translateX(-50%) scale(1.1);
}
.about .overlay {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  text-align: center;
  background-color: #000000a1;
  transition: opacity 0.5s ease;
  opacity: 1;
  pointer-events: none;
}
.about .content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 70px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.about .content h1 {
  font-size: large;
}
.about .content::-webkit-scrollbar {
  display: none;
}
.about .left:hover .overlay,
.about .center:hover .overlay,
.about .right:hover .overlay {
  opacity: 0;
}
.about .left:hover .content,
.about .center:hover .content {
  opacity: 1;
}

.about .block {
  background-color: #808080bd;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: fit-content;
}

.about .tag {
  padding: 1px 5px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  height: fit-content;
}
.about .tag img {
  margin-right: 5px;
  height: 20px;
  border-radius: 5px;
}

.about .time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about .time .title {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  gap: 10px;
}
.about .city {
  color: #0051ff;
  background-color: #a8cfff;
}
.about .time .dayblock {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about .time .dayblock .date {
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: large;
}
.about .time .dayblock .date .day {
  font-size: xx-large;
}
.about .time .dayblock .timeblock {
  font-size: xxx-large;
  flex: 0 0 50%;
}

.about .stack {
  display: grid;
  gap: 20px;
}
.about .stack .items {
  line-height: 1.7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  flex: 0 0 34%;
}
.about .stack .vs-code {
  color: #0077ba;
  background-color: #ffffff;
}
.about .stack .html {
  color: #ffffff;
  background-color: #e54c21;
}
.about .stack .css {
  color: #ffffff;
  background-color: #214ce5;
}
.about .stack .js {
  color: #000000;
  background-color: #f1dc4e;
}
.about .stack .react {
  color: #61dbfc;
  background-color: #000000;
}
.about .stack .gsap {
  color: #93d400;
  background-color: #000000;
}
.about .stack .node-js {
  color: #60a04f;
  background-color: #ffffff;
}
.about .stack .figma {
  color: #25eb8f;
  background-color: #000000;
}
.about .stack .wordpress {
  color: #1b769c;
  background-color: #e2e2e2;
}
.about .stack .webflow {
  color: #403dfd;
  background-color: #ffffff;
}
.about .stack .tilda {
  color: #000000;
  background-color: #fd784c;
}
.about .stack .airtable {
  color: #000000;
  background-color: #ffffff;
}
.about .stack .nocodb {
  color: #ffffff;
  background-color: #3738c8;
}
.about .stack .make {
  color: #7b13d2;
  background-color: #ffffff;
}
.about .stack .zapier {
  color: #ff4a00;
  background-color: #ffffff;
}
.about .stack .n8n {
  color: #eb4c72;
  background-color: #ffffff;
}
.about .desc h1 {
  text-decoration: underline;
}

.about .links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: grey;
  color: white;
  opacity: 0.8;
  border-radius: 10px;
  padding: 10px;
  transition: opacity 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}
.about .links a:hover {
  background-color: white;
  color: black;
  opacity: 1;
}
.about .links img {
  width: 100px;
}
.about .links p {
  font-size: xx-large;
}

.about .gallery {
  width: 100%;
  height: 100%;
}
.about .gallery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .about .overlay {
    font-size: larger;
  }
  .about .content h1 {
    font-size: medium;
  }
  .about .time .dayblock .date {
    font-size: small;
  }
  .about .time .dayblock .date .day {
    font-size: x-large;
  }
  .about .time .dayblock .timeblock {
    font-size: xx-large;
    flex: 0 0 69%;
  }
}

@media (max-width: 960px) {
  .about {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .about .left {
    flex: 0 0 40%;
  }
  .about .center,
  .about .right {
    flex: 0 0 30%;
  }
  .about .right {
    width: 100%;
  }
  .about .time .dayblock .timeblock {
    flex: 0 0 34%;
  }
}
