.about {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  top: 80px;
  position: relative;
  box-sizing: border-box;
  font-family: var(--font-basic);
  z-index: 2;
}

@media (min-width: 60rem) {
  .about {
    max-width: 60rem;
  }
}

@media (max-width: 60rem) {
  .about {
    padding-bottom: 64px;
  }
}

.about .grid {
  display: grid;
}

.about .gap-4 {
  gap: 1rem;
}

.about .grid-cols {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .about .grid-cols {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.about .flex {
  display: flex;
}

.about .flex-col {
  flex-direction: column;
}

.about .card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  overflow: hidden;
  padding: 1.5rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease;
}

.about .card:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.about .hello img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  transform: scale(1.1);
  object-fit: cover;
}
