.mytime {
  display: flex;
  align-self: center;
}

.mytime .title {
  margin-right: 5px;
}

.mytime .tag {
  padding: 1px 5px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.timeblock {
  display: flex;
  justify-content: center;
}

.timeblock .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeblock .day {
  font-size: 30px;
}

.timeblock .time {
  font-size: 3rem;
  font-weight: 600;
  padding-left: 30px;
  width: 200px;
}
