.tvoy-hit {
  background-color: #0d0d0f;
  color: white;
}

.tvoy-hit .header .buttons a {
  background-color: #7e70ff;
  color: #fff;
}
.tvoy-hit .header .buttons a:hover {
  background-color: #fff;
  color: #7e70ff;
}
.tvoy-hit .widget {
  background-color: #7e70ff;
}

.tvoy-hit .content .info .sec2 li {
  background-color: #7e70ff;
}
.tvoy-hit .content .info .sec2 li h3 {
  background-color: #534aa4;
}

.tvoy-hit .block.logic-map img {
  width: 100%;
  border-radius: 20px;
  filter: invert(1);
  box-sizing: border-box;
  border: 2px dashed #7e70ff73;
}

.case .block.design .mockup {
  border: 2px dashed #7e70ff73;
}

.tvoy-hit .block.dev .step {
  display: flex;
  border: 2px dashed #7e70ff73;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.tvoy-hit .block.dev .step .text {
  flex: 0 0 40%;
}
.tvoy-hit .block.dev .step .code {
  flex: 0 0 60%;
}

.tvoy-hit .note {
  width: 150px;
  right: 0;
  top: 0;
  animation: fly-note 15s infinite ease;
}
@keyframes fly-note {
  0%,
  to {
    translate: 0 5%;
    rotate: 4deg;
  }

  50% {
    translate: 0 -5%;
    rotate: -4deg;
  }
}

@media (max-width: 1060px) {
  .tvoy-hit .note {
    width: 100px;
  }
  .tvoy-hit .block.logic-map img {
    border-radius: 10px;
  }
  .tvoy-hit .block.dev .step {
    flex-wrap: wrap;
  }
  .tvoy-hit .block.dev .step .text {
    flex: 0 0 100%;
  }
  .tvoy-hit .block.dev .step .code {
    flex: 0 0 100%;
    display: grid;
  }
}
@media (max-width: 767px) {
  .tvoy-hit .block.logic-map img {
    width: auto;
    border-radius: 0;
  }
  .case .content .process .right {
    overflow: scroll;
    border-radius: 10px;
  }
}
