.tvoy-hit {
  background-color: #0d0d0f;
  color: white;
}

.tvoy-hit .header .buttons a {
  background-color: #7e70ff;
  color: #fff;
}
.tvoy-hit .header .buttons a:hover {
  background-color: #fff;
  color: #7e70ff;
}
.tvoy-hit .widget {
  background-color: #7e70ff;
}

.tvoy-hit .content .info .sec2 li {
  background-color: #7e70ff;
}
.tvoy-hit .content .info .sec2 li h3 {
  background-color: #534aa4;
}
