.home {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  z-index: 1;
  overflow: hidden;
  font-family: var(--font-basic);
}

.home .marquees {
  margin: auto 0;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.home .marquees .marquee {
  width: 100%;
  position: relative;
  white-space: nowrap;
  font-size: 12em;
  line-height: 1;
  font-weight: 800;
  color: #141414;
}
.home .marquees .word {
  display: inline-block;
  padding-right: 0.5em;
}

@media (max-width: 1920px) {
  .home .marquees .marquee {
    font-size: 7em;
  }
}

@media (max-width: 640px) {
  .home .marquees .marquee {
    font-size: 4em;
  }
}
