.home {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  z-index: 1;
  overflow: hidden;
  font-family: var(--font-basic);
}

.home .meduza {
  position: absolute;
  top: 50%;
  left: 50%;
  scale: 2;
  opacity: 0.8;
  z-index: 2;
  will-change: transform;
}
.home .meduza p {
  line-height: 0.7;
  font-size: smaller;
  color: transparent;
  background: url(/assets/photo/meduza.png) no-repeat center center;
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  width: 690px;
  height: 670px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  will-change: transform;
}

.home .marquees {
  margin: auto 0;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.home .marquees .marquee {
  width: 100%;
  position: relative;
  white-space: nowrap;
  font-size: 12em;
  line-height: 1;
  font-weight: 800;
  color: #141414;
}
.home .marquees .word {
  display: inline-block;
  padding-right: 0.5em;
}

@media (max-width: 1920px) {
  .home .meduza {
    scale: 1.5;
  }
  .home .marquees .marquee {
    font-size: 7em;
  }
}

@media (max-width: 1280px) {
  .home .meduza {
    scale: 1;
  }
}

@media (max-width: 640px) {
  .home .meduza {
    scale: 0.8;
  }
  .home .marquees .marquee {
    font-size: 4em;
  }
}

@media (max-width: 480px) {
  .home .meduza {
    scale: 0.6;
  }
}

@media (max-width: 320px) {
  .home .meduza {
    scale: 0.5;
  }
}
