.logo {
  position: fixed;
  z-index: 3;
  top: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-basic);
  font-size: xx-large;
  padding: 0 12px;
  border-radius: 5px;
  color: white;
  transition: background-color 1s;
  pointer-events: none;
}

@media (max-width: 767px) {
  .logo {
    top: 16px;
    font-size: x-large;
  }
}
