.work {
  padding: 70px 24px 100px;
  width: 100vw;
  box-sizing: border-box;
}

.work .projects {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.work .projects .swiper-slide {
  border-radius: 10px;
  overflow-y: scroll;
}

.work .navigation {
  border-radius: 10px;
  z-index: 1;
  height: 70px;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
}

.work .navigation .swiper-wrapper {
  align-items: center;
}

.work .navigation .swiper-slide {
  width: 60px;
  height: 60px;
  background-color: rgba(53, 53, 53, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.work .navigation .swiper-slide-active {
  background-color: rgba(53, 53, 53, 1);
}

.work .navigation img {
  width: 54px;
  height: 54px;
  padding: 3px;
  border-radius: 10px;
}

.work .frame {
  border: 1px solid white;
  border-radius: 10px;
  width: 65px;
  height: 65px;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1170px) {
  .work {
    padding: 70px 24px 134px;
  }

  .work .navigation {
    bottom: 60px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .work {
    padding: 70px 24px 114px;
  }

  .work .navigation {
    bottom: 45px;
  }

  .work .navigation .swiper-slide {
    width: 50px;
    height: 50px;
  }

  .work .navigation img {
    width: 44px;
    height: 44px;
  }

  .work .frame {
    width: 55px;
    height: 55px;
    bottom: 7px;
  }
}

/* Case page */
.case {
  font-family: var(--font-basic);
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.case .sticker {
  position: absolute;
}

.case .content .info,
.case .content .results,
.case .content .process {
  margin-top: 5em;
}

.case .header,
.case .content .info .sec1 {
  display: flex;
  gap: 40px;
}
.case .header .left {
  flex: 0 0 68.5%;
}
.case .header .buttons {
  display: flex;
  gap: 10px;
}
.case .header .buttons a {
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.case .header .right {
  flex: 0 0 28.5%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.case .widget {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  height: fit-content;
  padding: 5px 10px;
  justify-content: flex-start;
  gap: 5px;
  border-radius: 10px;
  pointer-events: none;
}
.case .widget h2 {
  margin: 0;
  font-size: medium;
  font-weight: 200;
}
.case .widget p {
  font-size: medium;
  font-weight: 500;
}
.case .widget img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.case .widget .icons {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.case .content .info h3 {
  margin: 0;
  font-size: medium;
  font-weight: 200;
  opacity: 0.5;
}
.case .content .info .sec1 {
  margin-bottom: 40px;
}
.case .content .info .sec1 .left,
.case .content .info .sec1 .right {
  flex: 0 0 48.5%;
}
.case .content .info .sec1 p,
.case .content .info ul {
  margin-top: 10px;
}
.case .content .info .sec1 ul {
  display: grid;
  list-style: inside;
  gap: 5px;
}
.case .content .info .sec2 {
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 10px;
  border-radius: 10px;
}
.case .content .info .sec2 li {
  padding: 10px;
  position: relative;
  flex: 0 0 25%;
  border-radius: 10px;
}
.case .content .info .sec2 li h2 {
  font-weight: 500;
  font-size: medium;
  margin: 5px 0;
}
.case .content .info .sec2 li h3 {
  font-weight: 600;
  opacity: 1;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 10px;
}
.case .content .info .sec2 li p {
  font-weight: 200;
}
.case .content .results {
  gap: 20px;
  display: grid;
}
.case .content .results .sec {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.case .content .results .sec .card {
  display: grid;
  overflow: hidden;
  border-radius: 20px;
}

.case .content .process .block {
  display: flex;
  margin-bottom: 3em;
}
.case .content .process .block .left h3 {
  opacity: 0.7;
  font-size: medium;
  margin: 0;
}
.case .content .process .left {
  flex: 0 0 20%;
}
.case .content .process .right {
  flex: 0 0 80%;
}

.case .footer {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  justify-content: center;
  font-size: x-small;
  border-top: 1px solid;
  opacity: 0.2;
}

@media (max-width: 1060px) {
  .case .header,
  .case .content .info .sec1,
  .case .content .results .sec,
  .case .content .process .block,
  .case .footer {
    flex-wrap: wrap;
  }
  .case .header .left,
  .case .header .right,
  .case .content .info .sec1 .left,
  .case .content .info .sec1 .right,
  .case .content .process .left,
  .case .content .process .right {
    flex: 0 0 100%;
  }
  .case .header .buttons a {
    font-size: smaller;
  }
  .case .content .info,
  .case .content .results,
  .case .content .process {
    margin-top: 3em;
  }
  .case .content .info .sec2 li {
    flex: 0 0 80%;
  }
  .case .content .process .right {
    margin-top: 10px;
  }
}
