.work .lampa-store {
  background-color: #232425;
  color: white;
}

.work .lampa-store .sticky-header .section {
  background-color: #404040;
  color: white;
  border: 2px solid white;
}

.work .lampa-store .header h1 {
  top: 260px;
  left: 100px;
  width: 800px;
}
.work .lampa-store .header img {
  filter: blur(2px);
}

.work .lampa-store .content .buttons .but {
  background-color: #404040;
  color: white;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.work .lampa-store .content .buttons .but:hover {
  background-color: white;
  color: #404040;
}

.work .lampa-store .problems .card {
  background-color: #404040;
  color: white;
}
.work .lampa-store .problems .card h5 {
  background-color: #303030;
  color: white;
}

.work .lampa-store .results .cards .card .t1 {
  color: white;
  bottom: 10px;
  left: 10px;
  width: min-content;
}
.work .lampa-store .results .cards .card .t2 {
  color: white;
  bottom: 10px;
  left: 10px;
  width: min-content;
}
.work .lampa-store .results .cards .card .t3 {
  color: white;
  top: 50%;
  left: 10px;
  width: min-content;
}

.work .lampa-store .dev .step {
  border-color: #818181;
}

.work .lampa-store .footer {
  color: white;
}

@media (max-width: 1200px) {
  .work .lampa-store .header h1 {
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: 3px 3px black;
  }
  .work .lampa-store .header img {
    right: 100%;
  }
}
