.lampa-store {
  background-color: #232323;
  color: white;
}

.lampa-store .header .buttons a {
  background-color: #000000;
  color: #fff;
}
.lampa-store .header .buttons a:hover {
  background-color: #fff;
  color: #000000;
}
.lampa-store .widget {
  background-color: #000000;
}

.lampa-store .content .info .sec2 li {
  background-color: #000000;
}
.lampa-store .content .info .sec2 li h3 {
  background-color: #404040;
}

.lampa-store .save-ui p {
  color: white;
  bottom: 10%;
  left: 5%;
  width: 40%;
}
.lampa-store .news-integration p {
  color: white;
  bottom: 10%;
  left: 25%;
  width: 100%;
}
.lampa-store .desc-status p {
  color: white;
  top: 5%;
  left: 5%;
  width: 30%;
}

.lampa-store .block.logic-map img {
  width: 100%;
  border-radius: 20px;
  filter: invert(1);
  box-sizing: border-box;
}

.lampa-store .block.dev .step {
  display: flex;
  border: 2px dashed #000000ae;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.lampa-store .block.dev .step .text {
  flex: 0 0 40%;
}
.lampa-store .block.dev .step .code {
  flex: 0 0 60%;
}

@media (max-width: 1060px) {
  .lampa-store .block.logic-map img {
    border-radius: 10px;
  }
  .lampa-store .block.dev .step {
    flex-wrap: wrap;
  }
  .lampa-store .block.dev .step .text {
    flex: 0 0 100%;
  }
  .lampa-store .block.dev .step .code {
    flex: 0 0 100%;
    display: grid;
  }
}
@media (max-width: 767px) {
  .lampa-store .block.logic-map img {
    width: auto;
    border-radius: 0;
  }
  .lampa-store .content .process .right {
    overflow: scroll;
    border-radius: 10px;
  }
}
