.documents-container {
  display: grid;
  gap: 9px;
}

.documents-container img {
  width: 40px;
}

.documents-container .document {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #00000021;
}

.documents-container .doc-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.documents-container .doc-url {
  display: flex;
  gap: 5px;
}

.documents-container .doc-url a {
  color: white;
  background-color: transparent;
  padding: 4px;
  transition: background-color 0.5s ease;
  border-radius: 5px;
}

.documents-container .doc-url a:hover {
  background-color: #00000042;
}
