a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.glyph span {
  display: inline-block;
}

.copy-success {
  color: #4caf50;
}

.submenu {
  flex-wrap: wrap;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, max-height 0.3s ease;
}

.submenu.active {
  opacity: 1;
  visibility: visible;
}
